@media (min-width: 1400px) {
  .title {
    padding: 1.25vw 1.11vw;
    }
  .title div span {
    font-size: 0.9vw;
    }
  /* New Css */
  .post-product-wrapper {
    padding: 0 0vw 1.53vw 0vw;
    }
  .choose_container_wrapper {
    padding: 0 1.18vw;
    }
  .choose_container_wrapper .list-group {
    max-height: 24.31vw;
    }
  .add_prod_container {
    border: 0.07vw solid #e5e2e2;
    padding: 0.97vw 1.11vw;
    }
  .choose_container_wrapper button {
    padding: 0.83vw 0.69vw;
    }
  .choose_container_wrapper button.active {
    background-color: var(--theme-color);
    border-color: var(--theme-color);
    }
  .store-verified-line {
    padding: 0.83vw 0;
    }
  }